<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title">EDIT CATEGORY</h1>
            <hr style="background: black; opacity: 0.5;">
        </div>
<div class="content-section">

  <div class="order-view  max-WT-700  setting-page" >
      <div class="  mb40">
          <form [formGroup]="edithomeForm" #f="ngForm">
              <div class="add-store-block input-style mb20 mt20 ">
                  <div class="form-group row align-items-baseline view-label-align">
                      <label class="col-md-4 textalignright ">Category name
                          <span>:</span></label>
                      <div class="col-md-8 textaligncenter">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter category name" formControlName="categoryName"
                                  (keypress)="mainService.AlphabetOnly($event)" maxlength="20">
                              <div class="text-danger">
                                  <span
                                      *ngIf="edithomeForm.get('categoryName').hasError('required') && (edithomeForm.get('categoryName').dirty || edithomeForm.get('categoryName').touched)">
                                      *Please enter category name.
                                  </span>

                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- <div class="form-group row align-items-baseline view-label-align">
                      <label class="col-md-4 textalignright">Subcategories
                          <span>:</span></label>
                      <div class="col-md-8 textaligncenter">
                          <div class="form-group ">
                              <input type="text" class="form-control" placeholder="Enter subcategory"
                                  formControlName="subCategories" (keypress)="mainService.preventSpace($event)"
                                  maxlength="50">
                              <div class="text-danger">
                                  <span
                                      *ngIf="addhomeForm.get('subCategories').hasError('required') && (addhomeForm.get('subCategories').dirty || addhomeForm.get('subCategories').touched || f.submitted)">
                                      *Please enter subCategory.
                                  </span>

                              </div>
                          </div>
                      </div>
                  </div> -->

                  <div class="form-group row view-label-align">
                    <label class="col-md-4 textalignright">Category image
                        <span>:</span></label>
                    <div class="col-md-4 textaligncenter">
                        <div class="form-group">
                          <label for="fileInput"class="hoverable">
                            <img  [src]="profile?profile:'assets/img/profile-img.jpg'" alt=""/>
                            <div class="hover-text">
                              <em class="fa fa-upload"></em>
                            </div>

                            <input type="file" id="fileInput"class="custom-file-input" name="imageUrl"  accept="image/*" (change)="handleInputChange($event)">
                             </label>
                        </div>
                    </div>
                </div>
              </div>

              <div class="text-center mt40 mb40">
                  <button class="btn btn-large  max-WT-150 btn-secondary" routerLink="/home-visit-service">Cancel</button>
                  <button class="btn btn-large  max-WT-150 btn-primary ml-2" [disabled]="edithomeForm.invalid" (click)="EditServiceCtegory()">Submit</button>
              </div>
          </form>
      </div>
  </div>
</div>
</main>
</div>













<!-- <div class="wrapper" style="width: 80%;
margin-left: 2%;">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> EDIT CATEGORY</h1>
            <hr style="background: black; opacity: 0.5;width: 135%;">
        </div>
        <form [formGroup]="edithomeForm">
            <div class="order-view  max-WT-700 mrgn-0-auto setting-page" style="margin-left: 18%;">
                <div class="row" style=" margin-left: 2%; margin-top: 8%; margin-right: 2%;">
                    <div class="col">
                        <label>Category name:</label><br><br>
                        <label>Category image:</label><br><br><br><br><br>

                    </div>
                    <div class="col" style=" margin-top: -1.5%;">
                        <input type="text" class="form-control" formControlName="categoryName">
                        <span class="text text-danger" *ngIf="edithomeForm.controls.categoryName.touched && edithomeForm.controls.categoryName.invalid && edithomeForm.controls.categoryName.errors.required">*Category Name is Required</span><br>
                        <label for="fileInput">
                        <img  [src]="profile?profile:'assets/img/profile-img.jpg'" alt=""/>
                        <em class="fa fa-camera" style="color: #86559f!important;font-size: 20px;
                        position: relative; right: 12px;"></em>
                        <input type="file" id="fileInput" name="imageUrl" accept="image/*" (change)="handleInputChange($event)" style="visibility:hidden;">
                    </label>


                    </div>
                </div>

                <div class="row" style="margin-left: 25%;margin-top: 5%; margin-bottom: 8%; ">
                    <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;"
                    [routerLink]="['/home-visit-service']">Back</button>
                    <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;"
                        (click)="EditServiceCtegory()" [disabled]=edithomeForm.invalid>Save</button>
                </div>
            </div>
        </form>
    </main>
</div> -->
