<div class="wrapper" style="overflow-x: hidden;">
    <main class="middle-content">
        <div class="page_title_block">
        <h1 class="page_title"> SERVICE MANAGEMENT</h1>
        <hr style="background: black; opacity: 0.5;">
        </div>

        <div class="content-section">
            <div class="outer-box">
                <div class="global-table no-radius p0">
                    <div class="tab-content1">
                        <div class="tab-pane1">
                            <div class="sec_head_new sec_head_new_after">

                                <div class="row">
                                    <div class=" col-md-4 pr-0">
                                        <div class="filter_search mb20 width100">
                                            <div class="input-group filter_search_group">
                                                <input type="text" class="form-control overflow-text"
                                                    [(ngModel)]="search" placeholder="Search by name"
                                                    maxlength="60">
                                                  <div class="input-group-append">
                                                    <button class="btn btn_search_group" (click)="searchValue()" >
                                                        <img src="assets/img/icon-search.png" alt="Search">
                                                    </button>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="text-center admin-btn mb20" >
                    <button type="button" class="btn btn-theme Go_btn ml-2" (click)="openAdd()">Add Subservice</button>
                    <button type="button" class="btn btn-theme Go_btn ml-2" (click)="exportCSV()">Export CSV</button>
                                            <button type="button" class="btn btn-theme Go_btn ml-2"
                                                [routerLink]="['/add-home-visit']">Add new
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" aria-describedby="user management list">
                                <thead>
                                    <tr class="no_wrap_th text-center">
                                        <th scope="col" class="Sorting-img">S.No</th>
                                        <th scope="col" class="Sorting-img">Category name</th>
                                        <th scope="col" class="Sorting-img">Category Image</th>
                                        <th scope="col" class="Sorting-img" style="width: 15%;">Subcategories</th>
                                        <th scope="col" class="Sorting-img">Updated on</th>
                                        <th scope="col" class="action_td_btn3 Sorting-img">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center"
                                        *ngFor="let item of servicelists | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: categoryLength}; let i = index">

                                        <td class="content">{{itemPerPage * (currentPage-1)+ i+1}}</td>
                                        <td class="content"> {{item?.categoryName}}</td>
                                        <td class="content"><img [src]="item?.categoryImage" alt="" style="width: 66px;">
                                        </td>
                                        <td class="content">
                                            <select class="form-control">
                                                <option value="{{data?.subCategoryName}}" *ngFor="let data of item?.subcategoryData" class="form-control" style="border: none;">
                                                    {{data?.subCategoryName}} <input type="checkbox">
                                                </option>
                                            </select>
                                            </td>

                                        <td class="content">{{item?.updatedAt | date}}</td>
                                        <td class="justify-content-center d-flex align-items-center" style="padding-top: 27px;padding-bottom: 24px;">
                                     <button [routerLink]="['/view-home-visit',item?._id]"
                                                class="btn btn-info ml-2 bt-margin" title="view">
                                                <em class="fa fa-eye" aria-hidden="true"></em></button>
                                            <button [routerLink]="['/edit-home-visit',item?._id]"
                                                class="btn btn-info ml-2 bt-margin"><em class="fa fa-edit" aria-hidden="true" ></em></button>
                                            <button class="btn btn-danger ml-2 bt-margin" (click)="deleteFunction(item?._id)">
                                                <em class="fa fa-trash-o" aria-hidden="true"></em>

                                            </button>

                                            </td>


                                    </tr>
                                    <tr *ngIf="!servicelists.length">
                                        <td class="table-no-record" colspan="9">No Record Found</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="custom-pagination mt-2 text-align-end" *ngIf="categoryLength >5">
                                <pagination-controls (pageChange)="pagination($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- delete gift-card-management modal Start -->
<div class="modal fade global-modal reset-modal" id="deleteModal">
    <div class="modal-dialog max-WT-500">
        <form class="change_password">
            <div class="modal-content">
                <div class="modal-header d-block text-center modal-header-custm">
                    <h5 class="modal-title d-inline-block">Delete</h5>
                </div>
                <div class="modal-inner-content">
                    <div class="modal-body">
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p>Are you sure you want to delete this service?</p>
                                <div class="modal-btn-box">
                                    <button type="submit" class="btn btn-primary" (click)="deleteUser()">Yes</button>
                                    <button type="button" class="btn btn-secondary ml-2"
                                        data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end delete gift-card-management modal -->


 <!-- Add sub category modal Start -->
 <div class="modal fade  bd-example-modal-lg reset-modal"role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="addSub">
  <div class="modal-dialog modal-lg" style="width: 43%;">
      <div class="modal-content">
          <div class="modal-header d-block text-center modal-header-custm p-3">
              <h5 class="modal-title ">Add Sub Category</h5>
          </div>
          <div class="modal-inner-content">
              <div class="modal-body">
                  <form [formGroup]="addSubForm">

                    <div class="form-group row  view-label-align">
                        <label class="col-md-4 textalignright">Subcategory Name
                            <span>:</span></label>
                        <div class="col-md-8 textaligncenter">
                            <div class="form-group ">
                                <input type="text" class="form-control " formControlName="categoryName">
                                <div class="text-danger">
                                    <span class="text text-danger" *ngIf="addSubForm.get('categoryName').touched && addSubForm.get('categoryName').invalid && addSubForm.get('categoryName').errors.required" >
                                        *SubCategory name is required
                                      </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row  view-label-align">
                        <label class="col-md-4 textalignright">Subcategory Image
                            <span>:</span></label>
                                <label class="col-md-4" for="fileInput" class="hoverable">
                                    <img  [src]="profile?profile:'assets/img/profile-img.jpg'" alt=""/>
                                    <div class="hover-text">
                                      <em class="fa fa-camera"></em>

                                    </div>
                                    <input type="file" id="fileInput"class="custom-file-input" name="imageUrl" accept="image/*" (change)="handleInputChange($event)">
                                    </label>
                    </div>

                    <div class="form-group row  view-label-align">
                      <label class="col-md-4 textalignright">Activate
                          <span>:</span></label>
                          <div class="col-md-8">
                            <div>
                                <input type="checkbox" [(ngModel)]="theCheckbox" [ngModelOptions]="{standalone: true}" data-md-icheck (change)="toggleVisibility($event)">

                            </div>
                        </div>
                            </div>

                            <div class="form-group row  view-label-align">
                              <label class="col-md-4 textalignright">Choose Category
                                  <span>:</span></label>
                                  <div class="col-md-8 textaligncenter">
                                    <div class="form-group ">
                                        <select class="form-control "
                                                     (change)="selected($event)">
                                                     <option value="">Select category</option>
                                                    <option *ngFor="let item of servicelists" value="{{item?._id}}"  > {{item.categoryName}}
                                                    </option>
                                                </select>

                                    </div>
                                </div>
                                    </div>
                          <div class=" text-center" >
                              <button type="button" class="btn btn-secondary"
                              data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary ml-2"
                                  (click)="addSubService()" [disabled]="selectCategory">Save</button>
                          </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </div>
