<header [hidden]="!showLoginHeader" class="header">
    <nav aria-label="" class="navbar clearfix">
        <div class="logo-box" [routerLink]="['dashboard']">
            <a class="navbar-brand logo" id="logo" *ngIf="showLogo == false">
                <img style="font-size: 8px; max-height: 70px;" src="assets/img/logo.png" alt="ICON" class="lg-logo">
            </a>
            <a class="navbar-brand logo" id="logo1" *ngIf="showLogo == true">
                <img style="font-size: 8px; max-height: 70px;" src="assets/img/logo.png" alt="ICON" class="lg-logo">
            </a>
        </div>
        <div class="d-flex align-items-center justify-content-between header-padding">
            <div class="header-right-part" (click)="head()">
                <button class="btn btn-toggle" type="button" style="color:#000">
                    <em class="fa fa-bars"></em>
                </button>

            </div>
            <button class="btn btn-md text-dark" style="margin-right: 24px;"  (click)="logOutModal()">Logout</button>
        </div>

    </nav>
</header>

<header [hidden]="showLoginHeader" class="header">
    <nav aria-label="" class="navbar clearfix">
        <div class="logo-box" style="background: none">
            <a class="navbar-brand logo" [routerLink]="['login']">
                <img style="font-size: 8px; max-height: 70px;" src="assets/img/logo.png" alt="ICON" class="lg-logo">
            </a>
        </div>
    </nav>
</header>

<!-- logout modal -->
<div class="modal fade global-modal reset-modal" id="logoutModal">
  <div class="modal-dialog max-WT-500">
      <form class="change_password">
          <div class="modal-content">
              <div class="modal-header d-block text-center modal-header-custm">
                  <h5 class="modal-title d-inline-block">Logout?</h5>
              </div>
              <div class="modal-inner-content">
                  <div class="modal-body">
                      <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                          <div class="w-100">
                              <p>Are you sure you want to logout?</p>
                              <div class="modal-btn-box">
                                  <button type="button" class="btn btn-theme" (click)="logout()">YES</button>
                                  <button type="button" class="btn btn-danger btn-theme ml-2"
                                      data-dismiss="modal">No</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>
