<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> Add New Giftcard</h1>
            <hr style="background: black; opacity: 0.5;">
        </div>
        <div class="content-section">
           
                <div class="order-view  max-WT-700 mrgn-0-auto setting-page" >
                    <div class="  mb40">
                        <div class="add-store-block input-style mb20 mt20 ">
                    <form [formGroup]="addGiftForm">

                        <div class="form-group row  view-label-align">
                            <label class="col-md-5 textalignright ">Add Image
                                <span>:</span></label>
                            <div class="col-md-7 textaligncenter">
                                <div class="col" >
                                    <label for="fileInput">
                                        <img [src]="profile?profile:'assets/img/profile-img.jpg'" alt="" class="onHover" />
                                        <em class="fa fa-camera hide" title="Upload Image" style="color: #000!important;
                                  font-size: 20px;
                                  position: relative;
                                  right: 60px;
                                  top: 38px;
                              "></em>
                                        <input type="file" id="fileInput" class="form-control" formControlName="image"
                                            name="imageUrl" accept="image/*" (change)="convertimg($event)"
                                            style="visibility:hidden">
                                    </label>
                                </div>
                            </div>
                        </div>

                    <div class="form-group row align-items-baseline view-label-align">
                        <label class="col-md-5 textalignright ">Title
                            <span>:</span></label>
                        <div class="col-md-7 textaligncenter">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="title"
                                    (keypress)="service.AlphabetOnly($event)">
                                <span class="text text-danger"
                                    *ngIf="addGiftForm.get('title').hasError('required') && addGiftForm.get('title').touched">*Title
                                    is Required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row align-items-baseline view-label-align">
                        <label class="col-md-5 textalignright ">Discount (in %)
                            <span>:</span></label>
                        <div class="col-md-7 textaligncenter">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="discount"
                                    (keypress)="service.NumOnly($event)" maxlength="2">
                                <span class="text text-danger"
                                    *ngIf="addGiftForm.get('discount').hasError('required') && addGiftForm.get('discount').touched">*Discount
                                    is Required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row align-items-baseline view-label-align">
                        <label class="col-md-5 textalignright ">Maximum amount
                            <span>:</span></label>
                        <div class="col-md-7 textaligncenter">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="maxAmount"
                                    (keypress)="service.NumOnly($event)">
                                <span class="text text-danger"
                                    *ngIf="addGiftForm.get('maxAmount').hasError('required') && addGiftForm.get('maxAmount').touched">*Maximum
                                    amount is Required</span>
                            </div>
                        </div>
                    </div>

        <div class="form-group row align-items-baseline view-label-align">
          <label class="col-md-5 textalignright ">Expiry date
              <span>:</span></label>
          <div class="col-md-7 textaligncenter">
              <div class="form-group">
                <input type="date" class="form-control" formControlName="expiry" [min]="service.getToday()">
                <span class="text text-danger" *ngIf="addGiftForm.get('expiry').hasError('required') && addGiftForm.get('expiry').touched">*Expiry date is Required</span>
              </div>
          </div>
      </div>
      <div class="form-group row align-items-baseline view-label-align">
        <label class="col-md-5 textalignright">Activate
            <span>:</span></label>
        <div class="col-md-7 textaligncenter">
            <div>
                <input type="checkbox" [(ngModel)]="theCheckbox" [ngModelOptions]="{standalone: true}" data-md-icheck (change)="toggleVisibility($event)">

            </div>
        </div>
    </div>
              <div class="row">

                </div>

                    <div class="text-center mt40 mb40">

                            <button type="button" class="btn btn-large  max-WT-150 btn-secondary"
                            [routerLink]="['/gift-card-management']">Back</button>
                        <button type="button" class="btn btn-large  max-WT-150 btn-primary ml-2" 
                            [disabled]=addGiftForm.invalid (click)="addGift()">Save </button>

                    </div>

                   
                </form>
                </div>
            </div>
        </div>
        </div>

    </main>
</div>