<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> VIEW PRODUCT

            </h1>
            <hr style="background: black; opacity: 0.5;">

        </div>

        <div class="content-section">
            
           
            <div class="order-view  max-WT-700 mrgn-0-auto setting-page">

                <div class="mb40">
                    <div class="add-store-block input-style view-label-align">
                        <div class="form-group row align-items-baseline" >
                            <div class="col-md-12" style="text-align: center"  >
                                <img  class="user-profile-img" [src]="profile?profile:'assets/img/profile-img.jpg'" alt="" />
                            </div>
                        </div>

                        <div class="form-group row align-items-baseline">
                            <label class="col-md-4 textalignright ">Name of product <span>:</span></label>
                            <div class="col-md-8 textaligncenter">
                                <div class="form-group">
                                    <p style="padding: 0px 5px!important;">
                                        {{user?.productName}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row align-items-baseline">
                            <label class="col-md-4 textalignright ">Price <span>:</span></label>
                            <div class="col-md-8 textaligncenter">
                                <div class="form-group">
                                    <p style="padding: 0px 5px!important;">
                                        {{user?.price}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row align-items-baseline">
                            <label class="col-md-4 textalignright ">Used for <span>:</span></label>
                            <div class="col-md-8 textaligncenter">
                                <div class="form-group">
                                    <p style="padding: 0px 5px!important;">
                                        {{user?.usedFor}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row align-items-baseline">
                            <label class="col-md-4 textalignright ">Type <span>:</span></label>
                            <div class="col-md-8 textaligncenter">
                                <div class="form-group">
                                    <p style="padding: 0px 5px!important;">
                                        {{user?.type}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt40 mb40">
                            <button type="button" class="btn btn-large  max-WT-150 btn-secondary" 
                            [routerLink]="['/product-management']">Back</button>
                        </div>


                    </div>
                </div>
        </div>
        </div>