
  <div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> Category Management> View category

            </h1>
            <hr style="background: black; opacity: 0.5;">

        </div>

        <div class="content-section">
        <div class="order-view  max-WT-700 mrgn-0-auto setting-page" style="width: 400px;
        left: 146px;
        bottom: 13px;">
            <div class="row" style=" margin-left: 2%; margin-top: 8%; margin-right: 2%;">
                <div class="col">
                    <label>Category Name :</label><br><br>
                    <label>Category Image :</label><br><br>
                    
                </div>
                <div class="col">
                    <label>{{user?.categoryName}}</label><br><br>
                    <label><img [src]="profile?profile:'assets/img/profile-img.jpg'" alt="" /></label><br><br>
                </div>
                
            </div>

            <div class="row" style="margin-left: 25%;margin-top: 5%; margin-bottom: 8%; ">
                <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;"
                [routerLink]="['/home-visit-service']">Back</button>
                
            </div>
        </div>
        <h3>SubCategories<button type="button" class="btn btn-theme Go_btn ml-2"
      style="float:right" (click)=openAdd()>Add
    </button></h3>
        <div class="card">
            <div class="table-responsive">
                <table class="table table-bordered" aria-describedby="user management list">
                    <thead>
                        <tr class="no_wrap_th text-center">
                            <th scope="col" class="Sorting-img">S.No</th>
                            <th scope="col" class="Sorting-img">Subcategory Name</th>
                             <th scope="col" class="action_td_btn3 Sorting-img">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let item of subcategorList ; let i = index"
                            >
                            <td class="content">{{i+1}}</td>
                            <td class="content">{{item?.subCategoryName}}</td>
                            <td class="justify-content-center d-flex" style="padding-top: 27px;padding-bottom: 24px;">
                          <button (click)="editFunction(item?._id)"
                                    class="btn btn-info ml-2 bt-margin"><i class="fa fa-edit"
                                        aria-hidden="true" style="color:white"></i></button>
                                <button class="btn btn-danger ml-2 bt-margin" (click)="deleteFunction(item?._id)">
                                    <i class="fa fa-trash-o" aria-hidden="true" style="color: white;"></i>
                                </button>
                                </td>
                        </tr>
                        <tr *ngIf="!subcategorList.length">
                            <td class="table-no-record" colspan="9">No Record Found</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        </div>
        <!-- delete gift-card-management modal Start -->
<div class="modal fade global-modal reset-modal" id="deleteModal">
<div class="modal-dialog max-WT-500">
<form class="change_password">
    <div class="modal-content">
        <div class="modal-header d-block text-center modal-header-custm">
            <h5 class="modal-title d-inline-block">Delete</h5>
        </div>
        <div class="modal-inner-content">
            <div class="modal-body">
                <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                    <div class="w-100">
                        <p>Are you sure you want to delete this Subcategory?</p>
                        <div class="modal-btn-box">
                            <button type="submit" class="btn btn-theme" (click)="deleteUser()">Yes</button>
                            <button type="button" class="btn btn-danger btn-theme ml-2"
                                data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
</div>

       <!-- Add sub category modal Start -->
       <div class="modal fade global-modal reset-modal" id="addSub">
        <div class="modal-dialog max-WT-500">
            <div class="modal-content">
                <div class="modal-header d-block text-center modal-header-custm">
                    <h5 class="modal-title d-inline-block">Add Sub Category</h5>
                </div>
                <div class="modal-inner-content">
                    <div class="modal-body">
                        <form [formGroup]="addSubForm">
                                <div class="row" style=" margin-left: 2%; margin-top: 8%; margin-right: 2%;">
                                    <div class="col">
                                        <div class="row">
                                            <label class="col-md-4">Category name</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="form-control col-md-5" formControlName="categoryName">
                                            <span class="text text-danger" *ngIf="addSubForm.controls.categoryName.touched && addSubForm.controls.categoryName.invalid && addSubForm.controls.categoryName.errors.required">*Category Name is Required</span>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-4">Category image</label>
                                            <span class="col-md-1">:</span>
                                            <label class="form-control col-md-5" for="fileInput">
                                                <img  [src]="profile?profile:'assets/img/profile-img.jpg'" alt=""/>
                                                <em class="fa fa-camera" style="color: #86559f!important;font-size: 12px"></em>
                                                <input type="file" id="fileInput" name="imageUrl" accept="image/*" (change)="handleInputChange($event)" style="visibility:hidden;">
                                                 </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-left: 25%;margin-top: 5%; margin-bottom: 8%; ">
                                    <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;"
                                    data-dismiss="modal">Back</button>
                                    <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;"
                                        (click)="addSubService()" [disabled]=addSubForm.invalid>Save</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>

         <!-- edit sub category modal Start -->
       <div class="modal fade global-modal reset-modal" id="editSub">
        <div class="modal-dialog max-WT-500">
            <div class="modal-content">
                <div class="modal-header d-block text-center modal-header-custm">
                    <h5 class="modal-title d-inline-block">Add Sub Category</h5>
                </div>
                <div class="modal-inner-content">
                    <div class="modal-body">
                        <form [formGroup]="editSubForm">
                                <div class="row" style=" margin-left: 2%; margin-top: 8%; margin-right: 2%;">
                                    <div class="col">
                                        <div class="row">
                                            <label class="col-md-4">Category name</label>
                                            <span class="col-md-1">:</span>
                                            <input type="text" class="form-control col-md-5" formControlName="categoryName">
                                            <span class="text text-danger" *ngIf="editSubForm.controls.categoryName.touched && editSubForm.controls.categoryName.invalid && editSubForm.controls.categoryName.errors.required">*Category Name is Required</span>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-4">Category image</label>
                                            <span class="col-md-1">:</span>
                                            <label class="form-control col-md-5" for="fileInput">
                                                <img  [src]="profile?profile:'assets/img/profile-img.jpg'" alt=""/>
                                                <em class="fa fa-camera" style="color: #86559f!important;font-size: 12px"></em>
                                                <input type="file" id="fileInput" name="imageUrl" accept="image/*" (change)="handleInputChange($event)" style="visibility:hidden;">
                                                 </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-left: 25%;margin-top: 5%; margin-bottom: 8%; ">
                                    <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;"
                                    data-dismiss="modal">Back</button>
                                    <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;"
                                        (click)="editSubService()" [disabled]=editSubForm.invalid>Save</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>