<div class="wrapper" style="width: 80%;
margin-left: 2%;">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> ADD CATEGORY</h1>
            <hr style="background: black; opacity: 0.5;width: 135%;">
        </div>
        <form [formGroup]="addhomeForm">
            <div class="order-view  max-WT-700 mrgn-0-auto setting-page" style="margin-left: 18%;">
                <div class="row" style=" margin-left: 2%; margin-top: 8%; margin-right: 2%;">
                    <div class="col">
                        <label>Category name:</label><br><br>
                        <label>Category image:</label><br><br><br><br><br>
                        <label>Subcategories:</label>
                    </div>
                    <div class="col" style=" margin-top: -1.5%;">
                        <input type="text" class="form-control" formControlName="categoryName">
                        <span class="text text-danger" *ngIf="addhomeForm.controls.categoryName.touched && addhomeForm.controls.categoryName.invalid && addhomeForm.controls.categoryName.errors.required">*Category Name is Required</span><br>
                        <label for="fileInput">
                        <img  [src]="profile?profile:'assets/img/profile-img.jpg'" alt=""/>
                        <em class="fa fa-camera" style="color: #86559f!important;font-size: 12px"></em>
                        <input type="file" id="fileInput" name="imageUrl" accept="image/*" (change)="handleInputChange($event)" style="visibility:hidden;">
                    </label>
                        <input type="text" class="form-control" formControlName="subCategories">
                        <span class="text text-danger" *ngIf="addhomeForm.controls.subCategories.touched && addhomeForm.controls.subCategories.invalid && addhomeForm.controls.subCategories.errors.required">*Subcategory  is Required</span><br>
                        
                               
                    </div>
                </div>

                <div class="row" style="margin-left: 25%;margin-top: 5%; margin-bottom: 8%; ">
                    <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;"
                    [routerLink]="['/home-visit-service']">Back</button>
                    <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;"
                        (click)="addservice()" [disabled]=addhomeForm.invalid>Save</button>
                </div>
            </div>
        </form>
    </main>
</div>
