<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> Notification Management> Add new notification </h1>
            <hr style="background: black; opacity: 0.5;">
        </div>
        <div class="content-section">
            <div class="order-view  max-WT-700  setting-page">
                <div class="  mb40">
                    <div class="add-store-block input-style mb20 mt20 ">
            <form [formGroup]="addNotificationForm">
                  <div class="form-group row align-items-baseline view-label-align">
                    <label class="col-md-4 textalignright ">Title
                        <span>:</span></label>
                    <div class="col-md-8 textaligncenter">
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="title">
                          <span class="text text-danger" *ngIf="addNotificationForm.get('title').hasError('required') && addNotificationForm.get('title').touched">*Title is Required</span>
                        </div>
                    </div>
                </div>
    
                <div class="form-group row align-items-baseline view-label-align">
                  <label class="col-md-4 textalignright ">Shared with
                      <span>:</span></label>
                  <div class="col-md-8 textaligncenter">
                      <div class="form-group">
                        <select class="form-control" formControlName="sharedWith"> <span class="caret"></span>
                          <option  value="">Select</option>
                          <option  value="ALL_USERS">All users</option>
                          <option  value="ALL_CONSULTANTS">All consultants</option>
                          <option  value="ALL_END_USERS">All end-users</option>
                      </select>
                      <span class="text text-danger" *ngIf="addNotificationForm.get('sharedWith').hasError('required') && addNotificationForm.get('sharedWith').touched">*Maximum amount is Required</span>
                      </div>
                  </div>
              </div>
    
                <div class="form-group row align-items-baseline view-label-align">
                  <label class="col-md-4 textalignright ">Description
                      <span>:</span></label>
                  <div class="col-md-8 textaligncenter">
                      <div class="form-group">
                        <textarea type="text" class="form-control" formControlName="description"></textarea>
                            <span class="text text-danger" *ngIf="addNotificationForm.get('description').hasError('required') && addNotificationForm.get('description').touched">*Discount is Required</span>
                      </div>
                  </div>
              </div>
    
    
    
                    <!-- <div class="row" style=" margin-left: 2%; margin-top: 8%; margin-right: 2%;">
                        <div class="col">
                            <label>Title :</label><br><br>
                            <label>Description :</label><br><br>
                            <label>Shared with : </label><br><br>
                        </div>
                        <div class="col" style=" margin-top: 1.5%;">
                            <input type="text" class="form-control" formControlName="title">
                            <span class="text text-danger" *ngIf="addNotificationForm.get('title').hasError('required') && addNotificationForm.get('title').touched">*Title is Required</span><br>
                            <textarea type="text" class="form-control" formControlName="description"></textarea>
                            <span class="text text-danger" *ngIf="addNotificationForm.get('description').hasError('required') && addNotificationForm.get('description').touched">*Discount is Required</span><br>
                            <select class="form-control" formControlName="sharedWith"> <span class="caret"></span>
                                <option  value="">Select</option>
                                <option  value="ALL_USERS">All users</option>
                                <option  value="ALL_CONSULTANTS">All consultants</option>
                                <option  value="ALL_END_USERS">All end-users</option>
                            </select>
                            <span class="text text-danger" *ngIf="addNotificationForm.get('sharedWith').hasError('required') && addNotificationForm.get('sharedWith').touched">*Maximum amount is Required</span><br>
                        </div>
                    </div> -->
                    <div class="text-center mt40 mb40" >
                        <button type="button" class="btn btn-large  max-WT-150 btn-secondary"
                            [routerLink]="['/notification-management']">Cancel</button>
                        <button type="button" class="btn btn-large max-WT-250  btn-primary ml-2"  [disabled]=addNotificationForm.invalid
                            (click)="broadcast()">Broadcast The Notification </button>
                    </div>
             
            </form>
        </div>
    </div>
        </div>
        </div>
      </main>
      </div>
