.max-WT{
  max-width: 75%;
}
.add-store-block {
  max-width: 700px;
  margin: 0 auto;
}
#fontSize{
  font-size: x-large;
}
@media only screen and (max-width : 1280px){
  .add-store-block {
    max-width: 600px !important;
  }
}
