.hoverable{
  position: relative;
  display: block;
  cursor: pointer;

}
.hoverable:hover .hover-text{
  display: block;
}

.hoverable .hover-text{
  font-size: 50px;
  position: absolute;
 display: none;
  top: 50%;
  left:  36%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
#fileInput{
  display: none;
}
