<div class="wrapper" style="width: 80%;
margin-left: 2%;">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> ADD PRODUCT</h1>
            <hr style="background: black; opacity: 0.5;width: 135%;">
        </div>
        
            <div class="card" style="margin-left: 18%;">
                <div class="row" style=" margin-left: 2%; margin-top: 8%; margin-right: 2%;">
                    <div class="col">
                        <label>Customer App Android link:</label><br><br>
                        <label>Customer App ios link:</label><br><br>
                        <label>Practitioner App Android link:</label><br><br>
                        <label>Insta Page link for Customer App:</label><br><br><br>
                        <label>Facebook  Page link for Customer App:</label><br><br>
                        <label>Twitter Page link for Customer App:</label><br><br>
                        <label>Linkedin Page link for Customer App:</label><br><br>
                        <label>Insta Page link for Practitioner App:</label><br><br>
                        <label>Facebook  Page link for Practitioner App:</label><br><br>
                        <label>Twitter Page link for Practitioner App:</label><br><br>
                        <label>Linkedin Page link for Practitioner App:</label><br><br>
                    </div>
                    <div class="col" style=" margin-top: -1.5%;">
                        <input type="text" class="form-control"><br>
                        <input type="text" class="form-control"><br>
                       <input type="text" class="form-control"><br>
                       <input type="text" class="form-control"><br>
                        <input type="text" class="form-control"><br>
                        <input type="text" class="form-control"><br>
                       <input type="text" class="form-control"><br>
                       <input type="text" class="form-control"><br>
                        <input type="text" class="form-control"><br>
                        <input type="text" class="form-control"><br>
                       <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row" style="margin-left: 25%;margin-top: 5%; margin-bottom: 8%; ">
                    
                    <button type="button" class="btn btn-theme" style="margin-left: 10%; width: 12%;" 
                        (click)="update()">Save </button>
                </div>
 </div>
        
    </main>
</div>