<div class="wrapper" style="width: 80%;
margin-left: 2%;">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title"> LINKS</h1>
            <hr style="background: black; opacity: 0.5;width: 135%;">
            <a>customer app android link:-</a><br>
            <a>customer app ios link:_</a><br>
            <a>Practitioner app android link</a><br>
            <a>Practitioner app android link</a><br>
            <a>insta Page link for customer app</a><br>
            <a>facebook  Page link for customer app</a><br>
            <a>Twitter Page link for customer app</a><br>
            <a>Linkedin Page link for customer app</a><br>
            <a>insta Page link for Practitioner app</a><br>
            <a>facebook  Page link for Practitioner app</a><br>
            <a>Twitter Page link for Practitioner app</a><br>
            <a>Linkedin Page link for Practitioner app</a><br>
        </div>
        
    </main>
</div>