<div class="wrapper" style="width: 80%;
margin-left: 2%;">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title">LINKS</h1>
            <hr style="background: black; opacity: 0.5;width: 135%;">
        </div>
        <form [formGroup]="listform">
            <div class="card order-view  max-WT-700  setting-page" style="margin-left: 18%;">

              <!-- <div style=" margin-left: 2%; margin-top: 8%; margin-right: 2%;"> -->
                <div class="form-row">
                  <div class="col-md-5">
                    <label for="android">Customer App Android link</label>

                  </div>
                  <div class="col-md-1">
                    <label>:</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" id="android" class="form-control" formControlName="CustomerAndroindUrl">
                  </div>
                </div>
<br>
                <div class="form-row">
                  <div class="col-md-5">
                    <label for="ios">Customer App ios link</label>
                  </div>
                  <div class="col-md-1">
                    <label>:</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" id="ios" class="form-control" formControlName="Customer_IOS_Url">
                  </div>
                </div>

                <br>
                <div class="form-row">
                  <div class="col-md-5">
                    <label for="prack">Practitioner App Android link:</label>
                  </div>
                  <div class="col-md-1">
                    <label>:</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" id="prack" class="form-control" formControlName="pratitionerAndroindUrl">
                  </div>
                </div>

                <br>
                <div class="form-row">
                  <div class="col-md-5">
                    <label for="Prackios">Practitioner App ios link:</label>
                  </div>
                  <div class="col-md-1">
                    <label>:</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" id="Prackios" class="form-control" formControlName="pratitioner_IOS_Url">
                  </div>
                </div>

                <br>
                <div class="form-row">
                  <div class="col-md-5">
                    <label for="insta">Instagram Page link:</label>
                  </div>
                  <div class="col-md-1">
                    <label>:</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" id="insta" class="form-control" formControlName="instagram">
                  </div>
                </div>

                <br>
                <div class="form-row">
                  <div class="col-md-5">
                    <label for="fb">Facebook Page link:</label>
                  </div>
                  <div class="col-md-1">
                    <label>:</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" id="fb" class="form-control" formControlName="facebook">
                  </div>
                </div>

                <br>
                <div class="form-row">
                  <div class="col-md-5">
                    <label for="twit">Twitter Page link:</label>
                  </div>
                  <div class="col-md-1">
                    <label>:</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" id="twit" class="form-control" formControlName="twitter">
                  </div>
                </div>

                <br>
                <div class="form-row">
                  <div class="col-md-5">
                    <label for="linkd">Linkedin Page link:</label>
                  </div>
                  <div class="col-md-1">
                    <label>:</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" id="linkd" class="form-control" formControlName="linkedin">
                  </div>
                </div>
            <!-- </div> -->
               <!-- <div class="row" style=" margin-left: 2%; margin-top: 8%; margin-right: 2%;">
                     <div class="col">
                        <label>Customer App Android link:</label><br><br>
                        <label>Customer App ios link:</label><br><br>
                        <label>Practitioner App Android link:</label><br><br>
                        <label>Practitioner App ios link:</label><br><br><br>
                        <label>Instagram Page link:</label><br><br><br>
                        <label>Facebook Page link:</label><br><br>
                        <label>Twitter Page link:</label><br><br>
                        <label>Linkedin Page link:</label>

                    </div>
                    <div class="col" style=" margin-top: -1.5%;">
                        <input type="text" class="form-control" formControlName="CustomerAndroindUrl"><br>
                        <input type="text" class="form-control" formControlName="Customer_IOS_Url"><br>
                        <input type="text" class="form-control" formControlName="pratitionerAndroindUrl"><br>
                        <input type="text" class="form-control" formControlName="pratitioner_IOS_Url"><br>
                        <input type="text" class="form-control" formControlName="instagram"><br>
                        <input type="text" class="form-control" formControlName="facebook"><br>
                        <input type="text" class="form-control" formControlName="twitter"><br>
                        <input type="text" class="form-control" formControlName="linkedin">

                    </div>
                </div>-->
                <div class="text-center mt-4" >

                    <button type="button" class="btn btn-primary btn-large max-WT-150" 
                        (click)="saveList()">Save </button>
                </div>
            </div>
        </form>
    </main>
</div>
