<div class="content-section">
  <div class="page_title_block" style="padding-left: 21%;padding-top: 7%;">
      <h1 class="page_title">Update Banner</h1>
  </div>
  <div class="order-view  max-WT-700  setting-page" style="margin-left: 33%;">
      <div class="  mb40">
          <form [formGroup]="EditBannerForm" #f="ngForm">
              <div class="add-store-block input-style mb20 mt20 ">
                <div class="form-group row align-items-baseline view-label-align">
                  <label class="col-md-4 textalignright">Banner Title
                      <span>:</span></label>
                  <div class="col-md-8 textaligncenter">
                      <div class="form-group ">
                          <input type="text" class="form-control" placeholder="Enter banner title"
                              formControlName="title" (keypress)="mainService.preventSpace($event)"
                              maxlength="50">
                          <div class="text-danger">
                              <span
                                  *ngIf="EditBannerForm.get('title').hasError('required') && (EditBannerForm.get('title').dirty || EditBannerForm.get('title').touched || f.submitted)">
                                  *Please enter title.
                              </span>

                          </div>
                      </div>
                  </div>
              </div>
                  <div class="form-group row view-label-align">
                    <label class="col-md-4 textalignright">Upload image
                        <span>:</span></label>
                    <div class="col-md-4 textaligncenter">
                        <div class="form-group">
                          <label for="fileInput"class="hoverable">
                            <img  [src]="profile?profile:'assets/img/profile-img.jpg'" alt=""/>
                            <div class="hover-text">
                              <em class="fa fa-upload"></em>
                            </div>

                            <input type="file" id="fileInput"class="custom-file-input" name="imageUrl" formControlName="bannerFile" accept="image/*" (change)="handleInputChange($event)">
                             </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row align-items-baseline view-label-align">
                  <label class="col-md-4 textalignright">Activate
                      <span>:</span></label>
                  <div class="col-md-8 textaligncenter">
                      <div>
                          <input type="checkbox" [(ngModel)]="theCheckbox" [ngModelOptions]="{standalone: true}" data-md-icheck (change)="toggleVisibility($event)">

                      </div>
                  </div>
              </div>
                <div class="form-group row align-items-baseline view-label-align">
                  <label class="col-md-4 textalignright ">Description
                      </label>
              </div>

                <div class="form-group row  view-label-align">

                  <div class="col-md-12 textaligncenter">
                      <div class="form-group ">
                        <ck-editor id="editornewData" formControlName="description"
                        name="editor1" language="en" [config]="config"></ck-editor>
                          <div class="text-danger">
                              <span
                                  *ngIf="EditBannerForm.get('description').hasError('required') && (EditBannerForm.get('description').dirty || EditBannerForm.get('description').touched || f.submitted)">
                                  *Please enter banner description.
                              </span>

                          </div>
                      </div>
                  </div>
              </div>
              </div>

              <div class="text-center mt40 mb40">
                  <button class="btn btn-large  max-WT-150 btn-theme" routerLink="/home-banner">Back</button>
                  <button class="btn btn-large  max-WT-150 btn-theme" (click)="EditBanner()">Update</button>
              </div>
          </form>
      </div>
  </div>
</div>
