<div class="wrapper">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title">Static Content Management / Edit</h1>
            <hr style="background: black; opacity: 0.5;">
        </div>
        <div class="content-section">
            <div class="order-view  max-WT-700 mrgn-0-auto setting-page">
                <div class="  mb40">
                    <div class="add-store-block input-style mb20 mt20 ">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-md-12">
                                        <div class="add-store-block input-style">
                                            <div class="form-group row ">
                                                <div class="col-md-12">
                                                    <div class="form-group row align-items-center">
                                                        <label class="col-md-2"> Title <span>:</span></label>
                                                        <div class="col-md-10">
                                                            <input type="text" class="form-control" maxlength="100"
                                                                formControlName="Title">
                                                            <div *ngIf="form.get('Title').invalid && (form.get('Title').dirty || form.get('Title').touched)"
                                                                class="text-danger">
                                                                <span *ngIf="form.get('Title').hasError('required')">
                                                                    *Title is required.</span>
                                                                <span *ngIf="form.get('Title').hasError('pattern')">
                                                                    *Please enter valid title.</span>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <ck-editor id="editornewData" formControlName="editorValue"
                                                        name="editor1" language="en" [config]="config"></ck-editor>
                                                    <div *ngIf="form.get('editorValue').invalid && (form.get('editorValue').dirty || form.get('editorValue').touched)"
                                                        class="text-danger">
                                                        <span *ngIf="form.get('editorValue').hasError('required')">
                                                            *Description is required.</span>
                                                    </div>
                                                    <div *ngIf="IsAbout">
                                                    <b>Expert Details</b>
                                                    <hr>
                                                    <div class="form-group row align-items-center">
                                                      <label class="col-md-2">Titles <span>:</span></label>
                                                      <div class="col-md-10">
                                                        <select class="form-control" (change)="selected($event)">
                                                          <option value="">Existing Titles</option>
                                                          <option *ngFor="let UserLimit of result?.ourExperties">{{UserLimit.experTitle}}</option>
                                                          </select>

                                                      </div>
                                                  </div>

                                                    <div class="form-group row align-items-center">
                                                      <label class="col-md-2">Expert Title <span>:</span></label>
                                                      <div class="col-md-10">
                                                          <input type="text" class="form-control" maxlength="100" [value]="expTitle"
                                                              formControlName="ExTitle" placeholder="Expert title">
                                                          <div *ngIf="form.get('ExTitle').invalid && (form.get('ExTitle').dirty || form.get('ExTitle').touched)"
                                                              class="text-danger">
                                                              <span *ngIf="form.get('ExTitle').hasError('required')">
                                                                  *Title is required.</span>
                                                              <span *ngIf="form.get('ExTitle').hasError('pattern')">
                                                                  *Please enter valid title.</span>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row align-items-center">
                                                    <label class="col-md-2">Image <span>:</span></label>
                                                    <div class="col-md-4 textaligncenter">
                                                      <div class="form-group">
                                                        <label for="fileInput"class="hoverable">
                                                          <img  [src]="profile?profile:'assets/img/profile-img.jpg'" alt=""/>
                                                          <div class="hover-text">
                                                            <em class="fa fa-upload"></em>
                                                          </div>

                                                          <input type="file" id="fileInput"class="custom-file-input" name="imageUrl"  accept="image/*" (change)="handleInputChange($event)">
                                                           </label>

                                                      </div>
                                                  </div>
                                                </div>

                                                <div class="form-group row align-items-center">
                                                  <label class="col-md-2">Expert Image <span>:</span></label>
                                                  <div class="col-md-4 textaligncenter">
                                                    <div class="form-group">



                                                      <label for="expert"class="hoverable">
                                                        <img  [src]="expertImage?expertImage:'assets/img/profile-img.jpg'" alt=""/>
                                                        <div class="hover-text">
                                                          <em class="fa fa-upload"></em>
                                                        </div>

                                                        <input type="file" id="expert"class="custom-file-input" name="imageUrl" accept="image/*" (change)="SideImageInput($event)">
                                                         </label>

                                                    </div>
                                                </div>
                                              </div>
                                              <div class="form-group row align-items-center">
                                                <label class="col-md-2">Select<span>:</span></label>
                                                <div class="col-md-10">
                                                  <select class="form-control" (change)="selecteddesc($event)">
                                                    <option value="">Existing Descriptions</option>
                                                    <option *ngFor="let UserLimit of result?.ourExperties">{{UserLimit.expertDescription}}</option>
                                                    </select>

                                                </div>
                                            </div>
                                              <div class="form-group row align-items-center">
                                                <label class="col-md-2">Description <span>:</span></label>
                                                <div class="col-md-10">
                                                  <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="ExDescription" rows="3" [value]="ExpertDescprition"></textarea>

                                                    <div *ngIf="form.get('ExDescription').invalid && (form.get('ExDescription').dirty || form.get('ExDescription').touched)"
                                                        class="text-danger">
                                                        <span *ngIf="form.get('ExDescription').hasError('required')">
                                                            *Description is required.</span>

                                                    </div>
                                                </div>
                                            </div>


                                                </div>
                                                    <div class="text-center mt75 mb40">
                                                        <button class="btn btn-large  max-WT-150 btn-secondary"
                                                            routerLink="/static-content-management">Back</button>
                                                        <button class="btn btn-large  max-WT-150 btn-primary ml-2"
                                                            (click)="Update()" [disabled]="form.invalid">Update</button>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


