/* You can add global styles to this file, and also import other style files */
.custom-pagination /deep/ .ngx-pagination .current {
    background-color: #83b63c;
}
.btn-theme{
  background-color: #83b63c;
  border-radius: 50px

}
.text-align-end {
    text-align: end !important;
}
.text-danger {
    color: #dc3545 !important;
    font-size: 14px;
}
.table-no-record {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.modal-header-custm {
    padding: 0px;
}
.tabel-body-checkbox {
    float: left;
    margin: 3px 0px 0px 11px;
}

.view-label-align label{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.content-view{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* .tooltip-class-custom{
    background-color: #83b63c !important;
} */

@media (max-width: 1024px) {
    .header-right-part {
        padding-top: 0px;
    }
}
@media (width: 1024px) {
    .header-padding {
        padding-top: 8px;
    }
}
/*********** New Css ***********/
