<div class="wrapper" style="overflow-x: hidden;">
    <main class="middle-content">
        <div class="page_title_block">
            <h1 class="page_title" >DASHBOARD</h1>
            <hr style="width: 118%; margin-left: -9%; background-color: black;">
        </div>
        <div class="content-section dashboard-block">
            <ul class="dash_list d-flex w-100 flex-wrap text-center">
                <li class="dashbord-box" >
                    <div class>
                        
                    </div>
                    <h2 >TOTAL USERS</h2>
                    <h4 >{{totalUser}}</h4>
                </li>
                <li class="dashbord-box" >
                    <div class>
                      
                    </div>
                    <h2 >TOTAL PRACTITIONERS</h2>
                    <h4 >{{totalPractioner}}</h4>
                </li>
                <li class="dashbord-box"  >
                    <div class>
                       
                    </div>
                    <h2 >TOTAL CUSTOMERS</h2>
                    <h4 >{{totalUser}}</h4>
                </li>
            </ul>
            <ul class="dash_list d-flex w-100 flex-wrap text-center">
                <li class="dashbord-box" >
                    <div class>
                        
                    </div>
                    <h2 >TOTAL CORPORATE CUSTOMERS</h2>
                    <h4 >{{totalCorporate}}</h4>
                </li>
                <li class="dashbord-box" >
                    <div class>
                        
                    </div>
                    <h2 >TOTAL PRODUCTS</h2>
                    <h4 >{{totalProduct}}</h4>
                </li>
                <li class="dashbord-box" >
                    <div class>
                        
                    </div>
                    <h2 >TOTAL SERVICES</h2>
                    <h4 >{{totalService}}</h4>
                </li>
            </ul>
        </div>
    </main>
</div>