<div class="wrapper" style="overflow-x: hidden;">
  <main class="middle-content">
      <div class="page_title_block">
          <h1 class="page_title">HOME SECTION</h1>
          <hr style="width: 118%; margin-left: -9%; background-color: black;">
      </div>
      <div class="content-section" style="margin-top: -3%;">
          <div class="outer-box">
              <div class="global-table no-radius p0">
                  <div class="tab-content1">
                       <div class="tab-pane1"> </div>
                       <div class="row d-flex justify-content-end mb20">
                        <div class="col-md-4">
                            <div class="admin-btn justify-content-end ">

                                <a type="button" class="btn  btn-theme Go_btn"
                                routerLink="/static-content-management">Back
                                </a>
                            </div>
                        </div>
                    </div>
                      <div class="table-responsive" style="width: fit-content;">
                          <table class="table table-bordered table-sm" aria-describedby="section list">
                              <thead>
                                  <tr class="no_wrap_th text-center">

                                      <th scope="col" class="Sorting-img">Section</th>
                                      <!-- <th scope="col" class="Sorting-img">Banner Image</th> -->
                                      <th scope="col" class="action_td_btn3 Sorting-img" style="width: 54%;">Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr class="text-center">
                                      <td class="content" style="font-size: x-large;">Banner Section </td>

                                      <td class="justify-content-center" style="padding-top: 27px;padding-bottom: 24px;">
                                        <button [routerLink]="['/home-banner']"
                       class="btn btn-info ml-2 btn-lg bt-margin" title="View">View</button>

                                               </td>
                                  </tr>
                                  <tr class="text-center">
                                    <td class="content" style="font-size: x-large;">Service Provider</td>

                                    <td class="justify-content-center" style="padding-top: 27px;padding-bottom: 24px;">
                                      <button [routerLink]="['/home-content']"
                     class="btn btn-lg btn-info ml-2 bt-margin" title="View">View</button>
                                  </td>
                                </tr>
                            <tr class="text-center">
                              <td class="content" style="font-size: x-large;">Book Practioner</td>
                              <!-- <td class="content"><img [src]="item?.image" alt="" style="width: 66px;">
                              </td> -->
                              <td class="justify-content-center" style="padding-top: 27px;padding-bottom: 24px;">
                                <button [routerLink]="['/book-practioner-list']"
               class="btn btn-lg btn-info ml-2 bt-margin" title="View">View</button>
                          </td>
                          </tr>
                          <tr class="text-center">
                            <td class="content" style="font-size: x-large;">Explore Our Services</td>
                            <!-- <td class="content"><img [src]="item?.image" alt="" style="width: 66px;">
                            </td> -->
                            <td class="justify-content-center" style="padding-top: 27px;padding-bottom: 24px;">
                              <button [routerLink]="['/explore-service']"
             class="btn btn-lg btn-info ml-2 bt-margin" title="View">View</button>
                        </td>
                        </tr>
                        <tr class="text-center">
                          <td class="content" style="font-size: x-large;">Explore Our Products</td>
                          <!-- <td class="content"><img [src]="item?.image" alt="" style="width: 66px;">
                          </td> -->
                          <td class="justify-content-center" style="padding-top: 27px;padding-bottom: 24px;">
                            <button [routerLink]="['/explore-product']"
           class="btn btn-lg btn-info ml-2 bt-margin" title="View">View</button>
                      </td>
                      </tr>
                              </tbody>
                          </table>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
</div>
