<div class="wrapper">
  <main class="middle-content">
      <div class="page_title_block">
          <h1 class="page_title">REFERRAL MANAGEMENT</h1>
          <hr style="background: black; opacity: 0.5;">

      </div>

      <div class="content-section">
          <div class="outer-box">
              <div class="global-table no-radius p0">
                  <div class="tab-content1">
                      <div class="tab-pane1">
                          <div class="sec_head_new sec_head_new_after">
                              <form [formGroup]="searchForm">
                                  <div class="row">
                                    <div class="col-md-3" style="margin-top: -2%;">
                                      <label>Fromdate:</label>
                                      <input type="date" class="form-control"
                                      [max]="mainService.getToday()" formControlName="fromDate" >
                                  </div>
                                  <div class="col-md-3" style="margin-top: -2%;">
                                      <label>Todate:</label>
                                      <input type="date" class="form-control"  formControlName="toDate"
                                      [min]="this.searchForm.controls['fromDate'].value"
                                              (keypress)="mainService.BlockFuture()"
                                      >
                                  </div>
                                  <div class="col-xl-2 col-lg-2 col-md-2">
                                      <div class="text-center admin-btn" style="margin-top: 10%;">
                                          <button type="button" class="btn btn-theme Go_btn" (click)="searchValue()">Search</button>
                                              <button type="button" class="btn btn-theme Go_btn" (click)="reset()"
                                             >Reset</button>
                                             <button type="button" (click)="exportCSV()" class="btn btn-theme"
                                          style="height: 8%; width: 12%;">Export csv</button>
                                             <button type="button" class="btn btn-theme Go_btn" title="Point Settings"(click)="openRefModal()" >Setting</button>
                                            </div>
                                  </div>


                                  </div>
                              </form>
                          </div>
                      </div>
                      <div class="table-responsive">
                          <table class="table table-bordered" aria-describedby="user management list">
                              <thead>
                                  <tr class="no_wrap_th text-center">
                                      <th scope="col" class="Sorting-img">S.No</th>
                                      <th scope="col" class="Sorting-img">Referral ID</th>
                                      <th scope="col" class="Sorting-img">Refferar Name</th>
                                      <th scope="col" class="Sorting-img">Raferee Name</th>
                                      <th scope="col" class="Sorting-img">Referrar Earned Point</th>
                                      <th scope="col" class="Sorting-img">Date & Time</th>
                                      <th scope="col" class="Sorting-img">Status</th>

                                      <th scope="col" class="action_td_btn3 Sorting-img">Actions</th>
                                  </tr>
                              </thead>
                              <tbody >
                                   <tr class="text-center" *ngFor="let items of vendorList | paginate : {itemsPerPage:limit, currentPage:page, totalItems:total}; let i=index">

                                  <td class="content" >{{limit * (page-1)+ i+1}}</td>
                                  <td class="content" >{{items?.referralCode}}</td>
                                  <td class="content" >{{items?.userId?.name}}</td>
                                  <td class="content">{{items?.refereeName}}</td>

                                  <td class="content" >{{items?.referrerEarnedPoint}}</td>
                                  <td class="content" >{{items?.createdAt | date :'medium'}}</td>

                                  <td class="content">{{items?.referralStatus}}</td>
                                  <td class="justify-content-center d-flex">

                                       <button class="btn btn-info ml-2 bt-margin" [routerLink]="['/referral-view',items?._id]"><i class="fa fa-eye" aria-hidden="true"
                                        style="color:white" title="View"></i></button>
                                       <button class="btn btn-danger ml-2 bt-margin" (click)="deleteFunction(items?._id)">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="color: white;" title="Delete"></i>
                                        </button>
                                           </td>
                                          </tr>
                                     <tr *ngIf="vendorList==0">
                                      <td class="table-no-record" colspan="9">No Record Found</td>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="custom-pagination mt-2 text-align-end" *ngIf="total>5">
                                <pagination-controls (pageChange)="pagination($event)"></pagination-controls>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
</div>

<!-- delete product-management modal Start -->
<div class="modal fade global-modal reset-modal" id="deleteModal">
  <div class="modal-dialog max-WT-500">
      <form class="change_password">
          <div class="modal-content">
              <div class="modal-header d-block text-center modal-header-custm">
                  <h5 class="modal-title d-inline-block">Delete?</h5>
              </div>
              <div class="modal-inner-content">
                  <div class="modal-body">
                      <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                          <div class="w-100">
                              <p>Are you sure you want to delete this refferal?</p>
                              <div class="modal-btn-box">
                                  <button type="submit" class="btn btn-theme" (click)="deleteUser()">Yes</button>
                                  <button type="button" class="btn btn-danger btn-theme ml-2"
                                      data-dismiss="modal">No</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>
<!-- end delete product-management modal -->
<div class="modal fade global-modal  bd-example-modal-lg reset-modal" id="setRefferal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header d-block text-center modal-header-custm">
              <h5 class="modal-title d-inline-block">Referral Point Setting</h5>
          </div>
          <div class="modal-inner-content">
              <div class="modal-body">
                <form [formGroup]="pointSettingForm" #f="ngForm">
                  <div class="add-store-block input-style mb20 mt20 ">
                      <div class="form-group row align-items-baseline view-label-align">
                          <label class="col-md-4 textalignright ">Set value
                              <span>:</span></label>
                          <div class="col-md-8 textaligncenter">
                              <div class="form-group">
                                  <input type="text" class="form-control" (keypress)="mainService.preventSpace($event)" placeholder="Enter loyality point" formControlName="refPoint"
                                       maxlength="20">
                                  <div class="text-danger">
                                      <span
                                          *ngIf="pointSettingForm.get('refPoint').hasError('required') && (pointSettingForm.get('refPoint').dirty || pointSettingForm.get('refPoint').touched)">
                                          *Please enter loyality value.
                                      </span>

                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- <div class="form-group row align-items-baseline view-label-align">
                          <label class="col-md-4 textalignright">Set value
                              <span>:</span></label>
                          <div class="col-md-8 textaligncenter">
                              <div class="form-group ">
                                  <input type="text" class="form-control" placeholder="Enter value"
                                      formControlName="refValue" (keypress)="mainService.preventSpace($event)"
                                      maxlength="20">
                                      <div class="text-danger">
                                        <span
                                            *ngIf="pointSettingForm.get('refValue').hasError('refValue') && (pointSettingForm.get('refValue').dirty || pointSettingForm.get('refValue').touched)">
                                            *Please enter value.
                                        </span>

                                    </div>
                              </div>
                          </div>
                      </div> -->
                  </div>
                  <div class="row pl-5">
                      <button class="btn btn-theme" data-dismiss="modal">Cancel</button>
                      <button class="btn btn-theme" (click)="setPoint()" [disabled]="pointSettingForm.invalid">Submit</button>
                  </div>
              </form>


              </div>
          </div>
      </div>
  </div>
  </div>


